<h2 id="chatRoomHeader">Chat Rooms<button id="addButton" ng-click="open()">Add Chat Room</button></h2> 
<ul>
	<li id="chatRooms" ng-repeat="room in rooms | orderBy: 'name'"><button id ="chatRoomButtons" ng-click="selectChatRoom(room,room.$id)">{{room.name}}</button></li>
</ul>
<div id="messages-container" ng-show="activeChatRoom"> 
	<h2>{{selectedChatRoom}}</h2>
	<ul> 
		<li id="activeRoomMessages" ng-repeat ="message in messages"> {{message.username}} {{message.content}} {{message.sentAt}}
		</li> 
	</ul> 
</div> 
